SECRET_KEY=change-moi
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

MINIO_ENDPOINT_URL=http://localhost:9000
MINIO_ACCESS_KEY=ton_access_key
MINIO_SECRET_KEY=azertyuiopmlkjhgfdsqwxcvbn123456756
MINIO_BUCKET_NAME=sae-documents
MINIO_USE_SSL=False
